* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.nav-item {
border-bottom: 2px solid transparent;
}

.nav-item:hover:after {
border-bottom: 2px solid black ;
content: "";
display:block;
width:20px;
margin-left: 10px;
}

.carousel-inner {
background-color: bisque;
text-align: center;
height:400px; 
padding-top: 40px; 
padding-bottom: 40px;
}

.carousel-indicators{
flex-direction: column;
top:0;
}

.carousel-indicators button {
height: 10px !important;
width: 10px !important;
margin: 0 10px !important;
border-radius: 100%;
background-color: black !important;
}

.we-are-clemo {
font-weight: bold;
margin-bottom: 25px;
}

.hr-width {
height: 2px;
width:4%;
background-color: black;
margin: auto;
margin-bottom: 25px;
}
 
.button-get-in-touch {
background-color: black;
border-color: black;
color: white;
padding: 10px 30px;
display: block;
margin: auto;
text-align: center;
text-decoration: none;
cursor:pointer;
border-radius: 70px;
margin-top: 70px;
margin-bottom: 50px;
}

.what-we-do {
text-align:center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight:100;
margin-top: 50px;
margin-bottom: 50px;
}

.image {
position: relative;
}

.work {
margin-bottom: 50px;    
}

.grey-picture {
width:560px;
height:560px;
margin-bottom: 50px;
margin-top: 50px;
}

.golfino-awards {
width:460px;
height:460px;
position: absolute;
left:50px;
top:100px;
opacity: 0;
transition: all 0.7s ease;
}

.golfino-awards:hover {
opacity: 1;
}

.creative {
font-size: 29px;
margin-top: 50px;  
}

.kitchen {
font-weight: bold;
font-size: 32px;
}

.one {
width: 8%;
height: 2px;
background-color: black;
margin-top: 30px;
margin-bottom: 30px;
}

.text1 {
font-size: 21px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:rgb(170, 170, 170);
margin-bottom: 50px;
}

.learn-more {
background-color: transparent;
border-color: rgb(206, 204, 204);
color: black;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
border-radius: 70px;
}

.learn-more:hover {
border-color: black;
}

.grey-picture2 {
max-width: 100%;
width:364px;
height:364px;
}

.golfino-awards2 {
width:264px;
height:264px;
position: absolute;
left:70px;
top:50px;
right: 50px;
bottom: 50px;
opacity: 0;
transition: all 0.7s ease;
}
    
.golfino-awards2:hover {
opacity: 1;
} 

.grey-picture3 {
max-width: 100%;
width:364px;
height:590px;
margin-bottom: 20px;
margin-top: 20px;
}

.grey-picture33 {
max-width: 100%;
width:364px;
height:590px;
margin-bottom: 20px;
margin-top: -1px;
padding-top: -1px;
}

.golfino-awards3 {
width:264px;
height:264px;
position: absolute;
left:70px;
right: 30px;
bottom: 50px;
top:300px;
opacity: 0;
transition: all 0.7s ease;
}
        
.golfino-awards3:hover {
opacity: 1;
}

.learn-more2 {
background-color: black;
border-color: black;
color: white;
padding: 10px 30px;
display: block;
margin: auto;
text-align: center;
text-decoration: none;
cursor:pointer;
border-radius: 70px;
margin-bottom: 30px;
margin-top: 30px;
}

.learn-more2:hover {
background-color: bisque; 
color:black; 
border-color: bisque;
}

.best-team {
font-size: 30px;
}

.circle {  
 
height: 168px;
width: 168px;
border-radius: 50%;
padding: 30px;
}

.circle img {
border-radius: 50%;
}


/* kontaktai */
.contacts {
background-color: black;
color:white;
}

.get-in-touch {
text-align:center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight:100;
margin-top: 50px;
margin-bottom: 35px;  
padding-bottom:70px; 
padding-top:70px
}

/* .location-icon {
height:20px;
width:20px;
float:left;
}

.address {
float:left;
} */













.year {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-bottom: 5px;
    }  

.all-rights-reserved {
    text-align: center; 
    color: rgb(171, 170, 170);
    margin-top: 5px;
    margin-bottom: 40px;
    }    


/*  */
.vertical .carousel-inner {
    height: 100%;
  }
  
  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
       -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
         -o-transition: 0.6s ease-in-out top;
            transition: 0.6s ease-in-out top;
  }
  
  .carousel.vertical .active {
    top: 0;
  }
  
  .carousel.vertical .next {
    top: 100%;
  }
  
  .carousel.vertical .prev {
    top: -100%;
  }
  
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
    top: 0;
  }
  
  .carousel.vertical .active.left {
    top: -100%;
  }
  
  .carousel.vertical .active.right {
    top: 100%;
  }
  
  .carousel.vertical .item {
      left: 0;
  }